<div class="row">
    <div class="col-md-4 col-sm-2">
    </div>
    <div class="col-sm-8 col-md-4">
        <h1 class="text-center login-title">Sign in form</h1>
        <div class="account-wall">
            <img class="profile-img" src="/images/user.png"
                alt="">
            <form class="form-signin">
            <input type="text" class="form-control" placeholder="Login" required autofocus>
            <input type="password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Sign in</button>
            </form>
        </div>
    </div>
</div>
