<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="/bootstrap-5.0.0-beta2-dist/css/bootstrap.min.css" rel="stylesheet">
    [START css]<link href="{url}" rel="stylesheet">
    [END css]

    <title>Hello, world!</title>
  </head>
  
  <body>
    <div class="container">
        {body}
    </div>

    <script src="/bootstrap-5.0.0-beta2-dist/js/bootstrap.bundle.min.js"></script>

  </body>
</html>
